<div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
        <strong> Activit date:</strong>
    </div>
    <div class="col-xs-8 text-right">
        <%= @exercise.workout_date %>
    </div>
    </div>
    <br>
    <br>
    <div class="col-xs-12 col-md-10 member">
        <%= link_to 'Back', user-exercises_path(current_user),
            class: "btn btn-success  btn-lg link", id: "back-btn" %>
    </div>
</div>